$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

body {
  background: url('../img/alko-tuuri.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
}

.vertical-align {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.app-container {
  p, h2, span, h4, h3 {
    text-align: center;
  }
  h2 {
    font-size: 60px;
    //text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
  }
}

.header {
  margin-top: 5%;
  h1 {
    text-align: center;
    font-size: 60px;
    //text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
  }
}

//.open-yes {
//  background: url('../img/alkoOnAuki.png');
//  height: 200px;
//  align-items: center;
//}

//.closed-no {
//  background: url('../img/eiValitettavasti.png');
//  height: 200px;
//}

.list-group {
  margin-left: 20%;
  margin-right: 20%;
  .list-group-item {
    background-color: grey;
    .list-group-item-body {
      p {
        margin: 0 0 0 0;
      }
    }
  }
}
